
.forgot-password-page {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f3eded;
    font-family: 'Poppins', sans-serif;
}


.forgot-password-container {
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 200px;
    text-align: center;
}


.form-group {
    margin-bottom: 30px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.error {
    color: red;
    font-size: 14px;
}


.send-btn {
    display: block;
    width: 100% !important;
    padding: 10px 20px;
    color: #fefefe;
    font-size: 16px;
    font-weight: bold;
    background-color:#ef476f ;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease, transform 0.2s;
}

.send-btn:hover {
    background: #d93f63;
}