.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f3eded; /* Match register background */

}

.login-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

.login-form-group {
  margin-bottom: 15px;
  text-align: left;
  padding-left: 5%;
}

.login-form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  display: block;
}

.login-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
}

/* Forgot password aligned to right */
.forgot-password-link {
  display: block;
  text-align: right;
  font-size: 14px;
  margin: 0 5% 10px 0;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}


.login-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 10px;
}

.login-btn:hover {
  background: #0056b3;
}

.login-register-text {
  font-size: 14px;
  color: #000;
}

.login-register-link {
  color: rgb(21, 120, 150);
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.login-register-link:hover {
  text-decoration: underline;
}