.product-container {
    display: flex;
    gap: 50px;
    padding: 40px;
    font-family: sans-serif;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-image {
    width: 600px;
    height: 500px;
    border-radius: 5px;
    background-color: #f4f4f4; /* Optional, to give a nice placeholder bg */
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.thumbnail-gallery {
    display: flex;
    gap: 10px;
}

.thumbnail-gallery img {
    width: 100px;
    height: 120px;
    object-fit: contain;
    background-color: #f4f4f4;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
}

.thumbnail-gallery img.active {
    border-color: #000;
}



.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-price {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.product-info p {
    font-size: 14px;
    margin-bottom: 8px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.add-to-cart-btn,
.buy-now-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: fit-content;
}


.add-to-cart-btn {
  background-color: #00bfa6;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 999px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #00a38f;
}



.buy-now-btn {
    background-color: #e53935;
    color: white;
}

.buy-now-btn:hover{
    background-color: #ce0f0c;
}